html,body{
margin: 0px;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
}
a,a:visited{
  color: inherit !important;
  text-decoration: none;
}
#logo{
  font-size: 1.2em;
}
.no-margin{
  margin: 0px;
}
.be-red{
  background-color: #11E881;
}
.white{
  color: #FFFEF4;
}
.large-padding{
  padding: 5px 3px;
}
#map{
  height: 400px;
}
.full-screen{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
  background-color:  rgba(250,250,250,0.8);
};
